---
/* Imported components */
  import Card from '../components/card.astro';
  import Breadcrumb from '../components/breadcrumb.astro';

  /* Imported icons */
  import ArrowUpRight from '../components/icons/ph:arrow-up-right.svg?raw';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles/global.css">
		<title>Astro</title>
	</head>
	<body>
    <Breadcrumb />
    <main>
      <section class="grid-l">
        <Card image="https://placehold.co/600x600" title="Badge" description="Building blocks for interface applications" icon={ArrowUpRight}/>
        <Card image="https://placehold.co/600x600" title="Card" description="Download brand assets for public use" icon={ArrowUpRight}/>
        <Card image="https://placehold.co/600x600" title="Button" description="Download wordmarks, icons and logos" icon={ArrowUpRight}/>
        <Card image="https://placehold.co/600x600" title="Link" description="Download wordmarks, icons and logos" icon={ArrowUpRight}/>
        <Card image="https://placehold.co/600x600" title="Icon" description="Download wordmarks, icons and logos" icon={ArrowUpRight}/>
      </section>
    </main>
	</body>
</html>

<style is:global>
  body {
        background: var(--color-tertairy);
    background-image: radial-gradient(#f5f5f5 0.8px, #FFF 0.8px);
    background-size: 10px 10px;
    font-family: "Inter", system-ui;
    margin: var(--space-m);
  }
</style>

<style>
    header {
    background: #fff;
    border-radius: var(--radius-m);
    padding: var(--space-l);
  }

  header h1 {
    font-size: var(--size-3xl);
  }

  header div {
    display: flex;
    align-items: center;
  }

  header div > span {
    background: #E9F4FF;
    padding: var(--space-s) var(--space-s);
    border-radius: var(--radius-s);
    color: #0060F2;
    margin-left: var(--space-m);
  }

  header p {
    font-size: var(--size-l);
    width: 50vw;
  }

  section {
    margin-top: var(--space-l);
  }

  img {
    border-radius: var(--radius-l);
    margin-top: var(--space-m);
  }

</style>
