---
export interface Props {
  image: string;
  title: string;
  description: string;
  link: string;
  icon: string;
}

const { image, title, description, icon } = Astro.props;

import ArrowUpRight from '../components/icons/ph:arrow-up-right.svg?raw';
---

<article>
  <img src={image}>
  <footer>
    <h3>{title}</h2>
    <p>{description}</p>
    <a href="{link}" set:html={icon}></a>
  </footer>
</article>

<style>
  article {
    background: var(--color-tertairy);
    border: var(--border-s);
    border-radius: var(--radius-m);
  }

  article footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--space-l);
  }

  article img {
    height: 25vh;
    width: 100%;
    object-fit: cover;
  }

  article a {
    display: grid;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    background: var(--color-tertairy);
    border: var(--border-s);
    padding: var(--space-s);
    border-radius: var(--radius-s);
  }

  article h3 {
    font-family: 'Brutalita', monospace;
    font-weight: 600;
    align-self: end;
  }

  article p {
    font-weight: 300;
    grid-row: 2;
    align-self: end;
  }
</style>
